html {
  background-image: url("./img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
}

#imgHeader {
  border-radius: 8px;
  width: 500px;
}

#titleForm {
  text-align: center;
  color: beige;
  text-shadow: 3px 3px 8px #000000;
}

#containerForm {
  height: 100vh;
  position: relative;
}

.vertical-horizontal-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

#formulario {
  width: 500px;
  background-color: whitesmoke;

  border-radius: 8px;
  padding: 25px;
  box-sizing: border-box;
}

.lblForm {
  width: 30%;

  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;

  height: 25px;
}

.inpForm {
  width: calc(70% - 12px);
  height: 20px;
}

#btnForm {
  height: 30px;
  width: 80px;
}
