* {
  margin: 0;
  padding: 0;
}

/* TRANSICIONES */

.caja {
  background-color: green;
  width: 100px;
  height: 100px;
  /* transform: rotate(45deg); */
  /* transform: scale(1.9); */
  /* transform: translate(50px, 50px); */
  transition-property: width backgrount-color;
  transition-duration: 2s;
  /* transition-delay: 2s; */
  transition-timing-function: ease-in; /* arranca lento y termina rapido */
}

.caja:hover {
  background-color: crimson;
  width: 1000px;
}

/* ********** */

img {
  width: 100px;
  height: 100px;
  transition-property: width height transform;
  transition-duration: 2s;
  transition-timing-function: ease-in; /* arranca lento y termina rapido */

  transform: rotate(0deg);
}

img:hover {
  width: 300px;
  height: 300px;

  transform: rotate(360deg);
}

/* ********** */

.imagen {
  width: 500px;
  height: 300px;
  background-image: url("https://img.freepik.com/foto-gratis/pintura-lago-montana-montana-al-fondo_188544-9126.jpg");
  transition-property: filter border;
  transition-duration: 2s;
  filter: grayscale(1);
  border: 5px solid black;
}

.imagen:hover {
  filter: grayscale(0);
  border: 10px dashed red;
}

/* ANIMACIONES */

.atras {
  width: 100%;
  height: 100px;
  background-color: goldenrod;
  animation-name: test;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes test {
  0% {
    background-color: goldenrod;
  }

  25% {
    background-color: green;
  }

  50% {
    background-color: brown;
  }

  100% {
    background-color: goldenrod;
  }
}

/* ********** */

.down {
  width: 75%;
  height: 100vh;
  background-image: url("buenos-aires.webp");
  background-size: cover;
  background-repeat: no-repeat;

  animation-name: down;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  z-index: 0;
}
@keyframes down {
  0%,
  100% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }
}

.up {
  width: 100%;
  height: 100%;

  background-image: url("./rain.png");
  /* background-size: cover; */
  z-index: 1;

  animation-name: up;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes up {
  0% {
    /* background-position: 0%, 0%; */
    background-position-x: 0%;
    background-position-y: 0%;
  }

  100% {
    /* background-position: -40%, 100%; */
    background-position-x: -40%;
    background-position-y: 100%;
  }
}
