* {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  /* gap: 30px; */
  /*column-gap: 50px;*/
  /* grid-template-columns: auto auto */
  grid-template-areas:
    "header header"
    "nav nav"
    "izq der"
    "footer footer";

  height: 100vh;
  grid-template-rows: 15% 10% 65% 10%;
}

.grid-item {
  width: 100%;
}

.header {
  grid-area: header;
  background-color: orange;
  text-align: center;
}

.nav {
  grid-area: nav;
  background-color: darkturquoise;
  text-align: center;
}

.izq {
  grid-area: izq;
  background-color: lawngreen;
  text-align: center;
}

.der {
  grid-area: der;
  background-color: crimson;
  text-align: center;
}

.footer {
  grid-area: footer;
  background-color: springgreen;
  text-align: center;
}
