html {
  background-image: url("./img/wallpaper-qatar-2022.png");
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  margin: 0;
}

#containerFixture {
  height: 100vh;
  position: relative;
}

.vertical-horizontal-center {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.line-break {
  height: 50px;
}

.fixture {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 50px;
}

.tableFixture {
  width: 180px;
  border-radius: 7px;
}

.tableFixture th {
  background: rgb(177, 15, 15);
  background: linear-gradient(
    90deg,
    rgba(177, 15, 15, 1) 0%,
    rgba(96, 0, 0, 1) 100%
  );
  color: lightslategray;
}

.tableFixture td {
  height: 23px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  background-color: aliceblue;
}

.name-country {
  display: inline-block;
  width: calc(100% - 25px);
  clip-path: polygon(10% 0, 90% 0, 100% 50%, 90% 100%, 10% 100%, 0% 50%);
  background-color: gray;
  text-align: center;
  font-size: 15px;
}
