* {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 10vh;
  background-color: crimson;
}

main {
  width: 100%;
  height: 80vh;
  background-color: bisque;
}

section {
  width: 100%;
  height: 40%;
  background-color: aquamarine;
  padding: 20px;
  box-sizing: border-box;
}

.left {
  float: left;
  height: 100%;
  width: 50%;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.right {
  float: right;
  height: 100%;
  width: 50%;
  background: linear-gradient(
    45deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(253, 187, 45, 1) 100%
  );
}

footer {
  width: 100%;
  height: 10vh;
  background-color: gold;
}
