html {
  min-height: 100%;
  position: relative;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

#logo {
  height: 30px;
  width: 30px;
  margin-right: 40px;
}

#navbar {
  background-color: #17202a;
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;

  box-sizing: border-box;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ancla {
  text-decoration: none;
  color: whitesmoke;
  margin-right: 30px;
}

.ancla:hover {
  color: cadetblue;
}

main {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;

  margin-bottom: 50px;
}

footer {
  color: whitesmoke;
  background-color: #17202a;
  width: 100%;
  height: 50px;

  position: absolute;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}
