* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #2b2b2b;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
}

header {
  display: flex;
  align-items: center;
  padding: 5px;
  height: 30vh;
  background-image: url("https://houseofweed.cl/cdn/shop/collections/banner-rick-and-morty.jpg?v=1653407010");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-title {
  color: crimson;
  font-size: 50px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.758);
}

footer {
  display: grid;
  place-items: center;
  padding: 4px;
  font-size: 15px;
  background-color: #263546;
  color: snow;
}

#characters {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.articulo {
  background-color: #2d2d2d;
  color: white;
  font-weight: bold;
  border: 2px solid black;
  text-align: center;
  padding: 5px;
}

/* Estados de los personajes */

.alive {
  width: 8px;
  height: 8px;
  background-color: green;
  border-radius: 50%;
  display: block;
}

.dead {
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  display: block;
}

.unknown {
  width: 8px;
  height: 8px;
  background-color: grey;
  border-radius: 50%;
  display: block;
}
