/* estilos en parrafo */

.elem-p {
  color: red;
}

.sub-p {
  font-size: 25px;
}

/* tootip con css */

li {
  position: relative;
  width: 200px;
  padding-bottom: 10px;
}

li::after {
  content: "Data: " attr(data-item-test);
  position: absolute;
  top: -22px;
  left: 10px;
  background: black;
  color: wheat;
  padding: 2px;
  border: 1px solid #eee;
  opacity: 0;
  transition: 0.5s opacity;
}

li:hover::after {
  opacity: 1;
}

/* aplicando Psudoelementos segun el atributo lang */

[lang="lat"]::before {
  content: url(https://static.vecteezy.com/system/resources/thumbnails/002/450/296/small/illustration-of-mexico-flag-free-vector.jpg);
  background-size: 10px 20px;
  transform: scale(0.5);
}
[lang="eng"]::before {
  content: url(https://static.vecteezy.com/system/resources/thumbnails/007/045/920/small/flag-of-union-jack-uk-england-united-kingdom-flag-illustration-flag-of-great-britain-3d-illustration-3d-illustration-waving-colorful-flag-of-great-britain-free-vector.jpg);
}

/* fuente con Google Fonts */

#p-google-fonts {
  font-family: "Rubik Marker Hatch", system-ui;
  font-weight: 400;
  font-style: normal;
}
