/* ************************************************** */
/* NORMALIZACION */
/* ************************************************** */

* {
  margin: 0;
  padding: 0;
}

/* ************************************************** */
/* DEFINICION DE VARIABLES */
/* ************************************************** */

:root {
  /* GENERAL */
  --scroll-bar-color: #f1c40f;
  --scroll-background: #212529;

  --default-background-color: #212529;
  --default-font-color: whitesmoke;
  --default-color: #f1c40f;
  --white: #ffffff;
  --black: #000000;
  --blue: #0288d1;
  --gray: #ebebeb;
  --box-shadow1: 0px 0px 18px 2px rgba(10, 55, 90, 0.15);

  /* NAVBAR */
  --navbar-background: #212529;
  --navbar-link-hover-color: #f1c40f;

  /* SOBRE MI */
  --sobre-mi-background: teal;

  /* EXPERIENCIA LABORAL */
  --experiencia-laboral-background: whitesmoke;

  /* EDUCACION */
  --educacion-background: lightgrey;

  /* PROYECTOS */
  --proyectos-background: whitesmoke;

  /* CONTACTEMONOS */
  --contactemonos-background: lightgrey;
  --contactemonos-btn: #212529;
  --contactemonos-enviar: whitesmoke;

  /* FOOTER */
  --footer-background: #212529;
}

/* ************************************************** */
/* GOOGLE FONTS */
/* ************************************************** */

.chakra-petch-light {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.chakra-petch-regular {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.chakra-petch-medium {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.chakra-petch-semibold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.chakra-petch-bold {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.chakra-petch-light-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.chakra-petch-regular-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.chakra-petch-medium-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.chakra-petch-semibold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.chakra-petch-bold-italic {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-style: italic;
}

/* ************************************************** */
/* MEDIA QUERIES */
/* ************************************************** */

/* For TABLETS */
@media (min-width: 768px) and (max-width: 1024px) {
  /* NAVBAR */
  #navbar {
    padding: 0 30px !important;
  }

  /* SOBRE MI */
  #sobre-mi {
    padding: 0 50px !important;
  }

  #sobre-mi .home-img {
    display: none;
  }

  #sobre-mi .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* EXPERIENCIA LABORAL */
  #experiencia-laboral {
    padding: 25px 50px !important;
  }

  /* EDUCACION */
  #educacion {
    padding: 25px 50px !important;
  }

  /* PROYECTOS */
  #proyectos {
    padding: 25px 50px !important;
  }

  .container-slide-proyecto {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 15px !important; /* Espacio entre las columnas */
  }

  /* CONTACTEMONOS */
  #contactemonos {
    padding: 0 50px !important;
  }
  /* FOOTER */
}

/* For MOBILES */
@media (max-width: 767px) {
  /* NAVBAR */
  #navbar {
    padding: 0 10px !important;
  }
  /* SOBRE MI */
  #sobre-mi {
    padding: 0 30px !important;
  }

  #sobre-mi .home-img {
    display: none;
  }

  #sobre-mi .home-info {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* EXPERIENCIA LABORAL */
  #experiencia-laboral {
    padding: 25px 30px !important;
  }

  #experiencia-laboral .timeline-nodes:nth-child(odd) h3,
  #experiencia-laboral .timeline-nodes:nth-child(odd) p {
    text-align: center;
  }

  #experiencia-laboral .timeline-nodes:nth-child(even) {
    flex-direction: row;
  }

  #experiencia-laboral .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 4%;
    width: 0;
    border-left: 2px solid var(--blue);
    height: 100%;
    z-index: 1;
    transform: translateX(-50%);
  }

  #experiencia-laboral .timeline h3 {
    font-size: 1.7rem;
  }

  #experiencia-laboral .timeline p {
    font-size: 14px;
  }

  #experiencia-laboral .timeline-image {
    position: absolute;
    left: 0%;
    top: 60px;
  }

  #experiencia-laboral .timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    left: auto;
    right: 100%;
    width: 0;
    border-left: 0;
    border-right: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  #experiencia-laboral
    .timeline-nodes:nth-child(even)
    .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    width: 0;
    border-right: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
  }

  #experiencia-laboral .timeline-nodes:nth-child(even) .timeline-date {
    text-align: left;
  }

  #experiencia-laboral .timeline-image::before {
    width: 65px;
    height: 65px;
  }

  /* EDUCACION */
  #educacion {
    padding: 25px 30px !important;
  }

  /* PROYECTOS */
  #proyectos {
    padding: 25px 30px !important;
  }

  .container-slide-proyecto {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 10px !important; /* Espacio entre las columnas */
  }

  .card-face {
    border-radius: 10px !important;
  }

  .card-title-proyecto {
    font-size: 11px !important;
  }

  .card-description-proyecto {
    font-size: 11px !important;
  }

  /* CONTACTEMONOS */
  #contactemonos {
    padding: 0 30px !important;
  }

  /* FOOTER */
}

/* ************************************************** */
/* ESTILOS DEFAULT ( ESCRITORIO ) */
/* ************************************************** */

html {
  scrollbar-color: var(--scroll-bar-color) var(--scroll-background);
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
}

/* NAVBAR */
#navbar {
  background-color: var(--navbar-background);
  padding: 0 50px;
}

.nav-link:hover {
  color: var(--navbar-link-hover-color) !important;
  transition: 0.3s;
}

/* SOBRE MI */
#sobre-mi {
  color: var(--default-font-color);

  padding: 0 70px;

  min-height: calc(100vh - 56px);
  display: flex;
  background-image: url("../img/sobre-mi/fondo3.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  padding: 45px 200px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.boton {
  font-size: 16px;
  font-weight: 500;
  padding: 12px 35px;
  color: var(--contactemonos-btn);
  border-radius: 40px;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: var(--default-color);
  transition: all 0.3s ease;
}

.boton:hover {
  transform: scale(1.05);
}

.home-info {
  flex: 0 0 60%;
  max-width: 60%;
  margin: 15px 0;
}

h3.hola {
  font-size: 28px;
}

h3.hola span {
  font-family: fantasy;
  font-size: 30px;
  font-weight: 500;
  color: var(--default-color);
}

h3.mi-profesion {
  font-size: 30px;
  margin: 15px 0;
}

.typing {
  font-family: fantasy;
  /* color: var(--default-color) */
}

.home-info p {
  margin-bottom: 70px;
  font-size: 20px;
}

.home-img {
  flex: 0 0 40%;
  max-width: 40%;
  text-align: center;
  position: relative;
}

#sobre-mi .home-img img {
  height: 400px;
  border-radius: 10%;
}

/* EXPERIENCIA LABORAL */
#experiencia-laboral {
  background-color: var(--experiencia-laboral-background);

  padding: 25px 70px;

  min-height: calc(100vh - 56px);
}

:focus {
  outline: 0px solid transparent !important;
}
.timeline {
  padding: 10px;
  position: relative;
}
.timeline-nodes {
  padding-bottom: 25px;
  position: relative;
}
.timeline-nodes:nth-child(even) {
  flex-direction: row-reverse;
}
.timeline h3,
.timeline p {
  padding: 5px 15px;
}
.timeline h3 {
  font-weight: lighter;
  background: var(--blue);
}
.timeline p,
.timeline time {
  color: var(--blue);
}
.timeline::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  width: 0;
  border-left: 2px solid var(--blue);
  height: 100%;
  z-index: 1;
  transform: translateX(-50%);
}
.timeline-content {
  border: 1px solid var(--blue);
  position: relative;
  border-radius: 0 0 10px 10px;
  box-shadow: 0px 3px 25px 0px rgba(10, 55, 90, 0.2);
}
.timeline-nodes:nth-child(odd) h3,
.timeline-nodes:nth-child(odd) p {
  text-align: center;
}
.timeline-nodes:nth-child(odd) .timeline-date {
  text-align: left;
}

.timeline-nodes:nth-child(even) .timeline-date {
  text-align: right;
}
.timeline-nodes:nth-child(odd) .timeline-content::after {
  content: "";
  position: absolute;
  top: 5%;
  left: 100%;
  width: 0;
  border-left: 10px solid var(--blue);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-content::after {
  content: "";
  position: absolute;
  top: 5%;
  right: 100%;
  width: 0;
  border-right: 10px solid var(--blue);
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.timeline-image {
  position: relative;
  z-index: 100;
}
.timeline-image::before {
  content: "";
  width: 100px;
  height: 100px;
  border: 2px solid var(--blue);
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 1;
}
.timeline-image img {
  position: relative;
  z-index: 100;
  max-width: 70%;
}

/*extra small device style */
@media (max-width: 575px) {
  #experiencia-laboral .timeline::before {
    content: "";
    display: block;
    position: absolute;
    left: 8%;
  }

  #experiencia-laboral .timeline-image {
    position: absolute;
  }

  #experiencia-laboral .timeline-image::before {
    width: 50px;
    height: 50px;
  }

  #experiencia-laboral .timeline-image img {
    max-width: 50%;
  }
}

/* EDUCACION */
#educacion {
  background-color: var(--educacion-background);

  padding: 35px 70px 0px;
}

.row {
  padding-top: 30px;
  padding-bottom: 0px;
  text-align: center;
}

.container-flex {
  display: flex;
  flex-direction: row;

  margin: 60px auto;
  gap: 20px;

  width: 100%;
  height: 300px;

  border-radius: 20px 20px 0 0;
  background-color: #141414;

  box-sizing: border-box;
  padding: 15px 15px;

  overflow-x: auto;
  flex-wrap: nowrap;
}

.card-cursos {
  margin: 0 10px;
  padding: 5px;
  flex-shrink: 0;
  height: 100%;
  width: 200px;

  border-radius: 20px;
  background-color: black;

  display: flex;
  flex-direction: column;
}

.card-img {
  width: 100%;
  height: 60%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-capacitacion {
  width: 100%;
  height: 100%;
  object-fit: cover;

  padding: 0 15px;
  box-sizing: border-box;
}

.card-text {
  width: 100%;
  height: 40%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.card-text-anio {
  color: whitesmoke;
}

.card-text-description {
  color: whitesmoke;
  width: 90%;
  font-size: 15px;
  text-align: center;
}

.btn-cert {
  height: 28px;
  width: 90%;
  margin-bottom: 10px;
}

/* PROYECTOS */
#proyectos {
  background: var(--proyectos-background);

  padding: 25px 70px;
}

.container-slide-proyecto {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; /* Espacio entre las columnas */
}

.row-proyecto {
  display: contents; /* Para que las columnas se alineen correctamente */
}

.col-proyecto {
  flex: 1; /* Para que las columnas ocupen todo el espacio disponible */
  padding: 0; /* Para eliminar el relleno predeterminado de Bootstrap */
}

.card-proyecto {
  width: 100%;
  aspect-ratio: 480 / 270;
  border: solid 0px black !important;
  background: none !important;
}

.card-img-proyecto {
  width: 100%;
}

.card-title-proyecto {
  color: var(--default-color);
}

.card-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  transition: 0.5s;

  border-radius: 15px;
}

.card-back {
  transform: perspective(600px) rotateY(180deg);
  background: var(--default-background-color);
  color: var(--default-font-color);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;

  box-shadow: 0 0 30px var(--default-color);
}

.card:hover .card-back {
  transform: perspective(600px) rotateY(360deg);
}

.carousel-indicators {
  position: static !important;
  filter: invert(108%) !important;
}

/* CONTACTEMONOS */
#contactemonos {
  background-color: var(--contactemonos-background);

  padding: 0 70px;

  min-height: calc(100vh - 56px);
}

.title-contact {
  text-align: center;
  margin: 30px;
}

#contactemonos form div {
  margin-bottom: 15px;
}

#contactemonos form label {
  display: block;
  margin-bottom: 5px;
}

#contactemonos form input[type="text"],
#contactemonos form input[type="email"],
#contactemonos form input[type="file"],
#contactemonos form select,
#contactemonos form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#contactemonos form textarea {
  height: 150px;
}

#contactemonos form button {
  padding: 10px 20px;
  background-color: var(--contactemonos-btn);
  color: var(--contactemonos-enviar);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-form {
  text-align: center;
}

#contactemonos h6 {
  margin-bottom: 30px;
}

/* FOOTER */
#footer {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--footer-background);
  color: var(--default-font-color);

  height: 56px;

  margin-top: auto; /* Esto empujará el último elemento hacia abajo */
}
